<div id="dock-container" class="fadeInUp animated">
    <div class="dock-content">
        <span class="dock-header">acesso rápido</span>

        <span class="map-icon map-icon-bank dock-icon" matTooltip="BANCO"></span>

        <span class="map-icon map-icon-finance dock-icon" style="color: #5f9341; margin-left: 5px;" matTooltip="BOLSA DE VALORES"></span>
        <span class="map-icon map-icon-hardware-store dock-icon" style="color: #acacac; margin-left: 5px;" matTooltip="AGENCIA DE EMPREGOS"></span>        
        
        <span class="map-icon map-icon-map-pin dock-icon" style="color: grey; margin-left: 5px;" matTooltip="??"></span>
        <span class="map-icon map-icon-map-pin dock-icon" style="color: grey; margin-left: 5px;" matTooltip="??"></span>
        <span class="map-icon map-icon-map-pin dock-icon" style="color: grey; margin-left: 5px;" matTooltip="??"></span>
        <!-- <span class="map-icon map-icon-map-pin dock-icon" style="color: grey; margin-left: 5px;" matTooltip="??"></span> -->
        <!-- <span class="map-icon map-icon-map-pin dock-icon" style="color: grey; margin-left: 5px;" matTooltip="??"></span> -->
    </div>
</div>